/* VARIABLES*/
/* Valiables */
/* GLOBALS */
/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/* Normalize */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*  Global Styles */
a {
  text-decoration: none;
  color: black; }
  a:hover {
    color: black; }

html {
  font-size: 75%;
  font-family: var(--font-primary);
  color: black; }

ul {
  list-style-type: none;
  padding-left: 0; }

.container {
  max-width: 1080px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

/* Helpers */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%; }

/* PARTIALS */
/* Header */
.header {
  background-image: url(../assets/image/Imagen-fondo-header-transp-01-01.png); }
  .header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; }
    .header .navbar .logo {
      flex-basis: 40%;
      min-width: 200px; }
    .header .navbar .navbar-menu {
      flex-basis: 50%;
      justify-content: space-between;
      background-color: rgba(199, 192, 194, 0.3); }
      .header .navbar .navbar-menu .navbar-item {
        position: relative;
        transition: all .3s ease-in-out; }
        .header .navbar .navbar-menu .navbar-item:hover {
          background-color: #5ce2e7; }
          .header .navbar .navbar-menu .navbar-item:hover .sub-menu {
            display: block; }
      .header .navbar .navbar-menu .menu-link {
        font-size: 1.2em;
        font-weight: 500;
        padding: 1rem;
        font-family: "Montserrat", sans-serif; }
        .header .navbar .navbar-menu .menu-link .sub-menu {
          display: none;
          position: absolute; }
          .header .navbar .navbar-menu .menu-link .sub-menu__link {
            transition: all .3s ease-in-out; }
            .header .navbar .navbar-menu .menu-link .sub-menu__link:hover {
              background-color: #5ce2e7;
              color: whitesmoke;
              padding: 0.5rem;
              display: block; }
          .header .navbar .navbar-menu .menu-link .sub-menu__item {
            padding: 1rem; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  header .logo {
    margin-left: 35%; }
  header .navbar-menu {
    margin-left: 20%; }
  .navbar-menu .navbar-item .menu-link {
    font-size: 1em;
    font-weight: 500;
    padding: 0.75rem; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  header .logo {
    margin-left: 35%; }
  header .navbar-menu {
    margin-left: 20%; }
  .navbar-menu .navbar-item .menu-link {
    font-size: 1em;
    font-weight: 500;
    padding: 0.75rem; } }

/* Footer */
footer {
  height: 10vh;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
  font-size: 1em; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  footer {
    font-size: 0.75em; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  footer {
    font-size: 1em; } }

/* VIEWS */
/* Main-Index */
.titulo-principal {
  font-family: "Russo One", sans-serif;
  font-weight: lighter;
  font-size: 4em;
  color: white;
  text-align: center;
  background-color: #ff004f;
  margin-top: 1%; }

.imagen-presentacion {
  min-width: 320px; }

.titulo-secundario {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 3em;
  color: black;
  padding: 1%;
  margin: 5% 0;
  background-color: #5ce2e7; }

h5 {
  font-size: xx-large; }

.carousel-caption {
  background-color: #ff004f; }
  .carousel-caption p {
    font-size: x-large; }

.presentacion-proyecto p {
  font-size: 2em;
  font-weight: bolder;
  padding: 20%;
  margin: 5%; }

.titulo-alternativo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  margin: 5%; }

@media screen and (max-width: 320px) {
  header .logo {
    margin-left: 25%; }
  .navbar-menu .navbar-item .menu-link {
    font-size: 0.75em;
    font-weight: 400;
    padding: 0.5rem; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .titulo-principal {
    font-size: 2.5em; }
  .titulo-secundario {
    font-size: 1.5em; }
  .d-block {
    height: 50vh; }
  .titulo-alternativo {
    font-size: 1.5em; }
  .titulo-alternativo a {
    font-size: 1em; } }

/* Main-Nosotros */
.nosotros {
  display: flex; }

.texto-presentacion {
  padding: 5%;
  text-align: center;
  font-size: 1.1em;
  line-height: 18px; }

.texto-presentacion-propuesta {
  padding: 1% 4%;
  margin: 2% 0;
  text-align: center;
  font-size: 1.1em;
  line-height: 18px;
  font-weight: 500;
  line-height: 20px; }

/* Main Staff */
.profe-staff {
  text-align: center;
  background-color: #ff004f;
  color: white;
  font-family: "Montserrat", sans-serif; }

.presentacion-staff {
  display: flex;
  justify-content: center; }

.img-presentacion-staff img {
  margin-bottom: 10%; }

.img-staff img {
  padding: 2%; }

.texto-presentacion-staff {
  text-align: center;
  padding: 1% 10%;
  margin-bottom: 40%;
  transition: all 2.5s ease-in;
  font-size: small;
  font-family: "Montserrat", sans-serif; }

.texto-presentacion-staff:hover {
  background-color: #5ce2e7;
  width: auto;
  height: 200px;
  color: white; }

/* Main Nuestras Clases */
.nuestras-clases {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  justify-content: center; }

/* Main Contactanos*/
.contactanos {
  justify-content: center; }

section .form {
  margin-right: 10%; }

/* Main Contactanos*/
.contactanos {
  justify-content: center; }

section .form {
  margin-right: 10%; }
