/* Footer */

footer {
    height: 10vh;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

@media screen and (min-width: 320px) and  (max-width: 768px)  {

footer {
    font-size: 0.75em;
}

}

@media screen and (min-width: 320px) and  (max-width: 768px)  {


footer {
    font-size: 1em;
}

}
