/* Header */



.header {
    background-image: url(../../assets/image/Imagen-fondo-header-transp-01-01.png);
    
    .navbar {
        @include flex (row, space-between, center, 5rem);
        min-height: 10vh;
        padding: 0 2rem;
        .logo {
            flex-basis: 30%;
            min-width: 200px;
        }
        .navbar-item {
            
                position: relative;
                transition: all .3s ease-in-out;
            
            .sub-menu {
                display: none;
                position: absolute;
                &__item {
                    padding: 1rem;
                }
                &__link {
                    transition: all .3s ease-in-out;
                    &:hover {
                        background-color: $secondary-color;
                        color: whitesmoke;
                        padding: 0.5rem;
                        display: block;
                    }
                }
        
            }
        &:hover {
            background-color: $secondary-color;
            
            
        
        
        }
        &:hover .sub-menu {
            display: block;
        }

        }
            
        .navbar-menu {
            @include flex (row, space-between, center, 5rem);
            flex-basis: 50%;
        
            .menu-link{
                font-size: 1.2em;
                font-weight: 600;
                padding: 1rem;
                &:hover {
                    color: whitesmoke;
                }
                
                
            }
            
        }
    }
    
}



