/* Main Nuestras Clases */

.nuestras-clases{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: center;
}

/* Main Contactanos*/

.contactanos {
    justify-content: center;
}

section .form {

    margin-right: 10%;

}
