/* Main-Index */


.titulo-principal {
    font-family: $font-secondary;
    font-weight: lighter;
    font-size: map-get($font-size, xlarge);
    color: white;
    text-align: center;
    background-color: $secondary-color;
    margin-top: 1%;
    
    
}

.imagen-presentacion {
    min-width: 320px;
}

.titulo-secundario {
    font-family: $font-primary;
    font-weight: 400;
    text-align: center;
    font-size: map-get($font-size, large);
    color: black;
    padding: 1%;
    margin: 5% 0;
    background-color: $principal-color;
    


}

h5 {
    font-size: map-get($font-size, large);
}



.d-md-block {
    
    background-color: rgba(255, 0, 79, 0.5);
    p {
        font-size: map-get($font-size, medium);
    }
}

.presentacion-proyecto p {
    
    font-size: map-get($font-size, large);
    font-weight: bolder;
    padding: 20%;
    margin: 5%;
    

    
}



// .presentacion-proyecto {
//     margin-top: 2%;
//     display: grid;
//     grid-template-columns: 50% 50%;
//     grid-template-rows: 50% 50%;
//     grid-template-areas: 
    
//     "propuestas-item-1 propuestas-item-2" 
//     "propuestas-item-3 propuestas-item-4";

// }

// .propuestas-item-1 { 
//     grid-area: propuestas-item-1;
//     background-color: var(--principal-color);
//     color: whitesmoke;
// }
// .propuestas-item-2 { 
//     grid-area: propuestas-item-2; 
//     background-color: var(--secondary-color);
//     color: white;
// }

// .propuestas-item-3 { 
//     grid-area: propuestas-item-3;
//     background-color: var(--secondary-color);
//     color: white;
// }
// .propuestas-item-4 { 
//     grid-area: propuestas-item-4; 
//     background-color: var(--principal-color);
//     color: whitesmoke;

// }


.titulo-alternativo {
    font-family: $font-primary ;
    font-weight: 600;
    font-size: map-get($font-size , medium );
    text-align: center;
    margin: 5%;
    button {
        font-size: 0.75em;
        padding: 1rem;
        background-color: $principal-color;
        color: white;
        border-style: hidden;
        a {
            font-size: map-get (font-size , small );
        }

        
        
        
    }

}





