/* Main-Nosotros */

.nosotros {
    display: flex;
    

    
}

.texto-presentacion {
    padding: 5%;
    text-align: center;
    font-size: 1.1em;
    line-height: 18px;

}

.texto-presentacion-propuesta {
    padding: 1% 4%;
    margin: 2% 0;
    text-align: center;
    font-size: 1.1em;
    line-height: 18px;
    font-weight: 500;
    line-height: 20px;
    

}