/* Main-Nosotros */

.nosotros {
    @include flex (row, space-between, center, 2rem)
}
    .presentacion-box {
    width: 400px;
    height: 400px;
    text-align: start;
        .presentacion {
        @extend .titulo-alternativo;
        color: $principal-color;
    }
        .texto-presentacion {
            
            text-align: center;
            font-size: map-get($font-size, small);
        }
        
    }




.clary-jony {
    @extend .titulo-secundario;
}

#Propuesta {
    .nuestra-propuesta {
        @extend .titulo-secundario;

}

    .img-propuesta {
        @include grid (5, 1fr, 1, 1fr);
        .img-1 {
            grid-column: 1/6;
            grid-row: 1;

        }
        .img-2 {
            grid-column: 3/4;
            grid-row: 1;
            justify-content: center;
            align-self: center;
            
        }
    }
    

    .texto-presentacion-propuesta {
        font-size: map-get($font-size , small );
        text-align: center;
        margin-top: 2%;
    
    }
}




