/* Helpers */

.flex-row {
    display:flex;
    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}