/* Valiables */

    $principal-color: rgb(92, 226, 231);
    $pl-color-tp: rgba(92, 226, 231, 0.5);
    $secondary-color: rgb(255, 0, 79);
    $sy-color-tp: rgba(255, 0, 79, 0.5);
    $font-primary: 'Montserrat', sans-serif;
    $font-secondary: 'Russo One', sans-serif;




